dialog {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
}

dialog[open] {
  opacity: 1;
  pointer-events: inherit;
  animation: slide-in-from-top 0.35s ease-out;
}

dialog:not([open]) {
  animation: slide-out-to-bottom 0.35s ease-out;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  transition: opacity 0.5s;
}

dialog[open]::backdrop {
  opacity: 1;
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out-to-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-15%);
    opacity: 0;
  }
}
