.admin__header {
  width: 100%;
  padding: 20px 0px;
  background-color: var(--primary-color);
}

.admin__nav-top {
  width: 100%;
}

.admin__nav-top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.admin__nav-top-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.admin__nav-top-right span {
  color: whitesmoke;
}

.admin__nav-top-right img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.admin__nav-top-right span i {
  cursor: pointer;
}

.mobile__menu {
  display: none;
  cursor: pointer;
  font-size: 1.4rem;
  color: #fff;
}
.admin__menu {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: var(--card-bg-02);
}

.admin__details {
  display: none;
}

.admin__navigation {
  text-align: center;
}

.admin__menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.7rem;
}

.admin__menu-list .admin__menu-item a {
  color: var(--primary-color);
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
}

.admin__menu-list .admin__menu-item a.active {
  background-color: whitesmoke;
}

@media only screen and (max-width: 768px) {
  .admin__details-nav__top {
    display: none;
  }
  .admin__nav-top-right {
    justify-content: flex-end;
  }
  .admin__menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    left: -100%;
    transition: all 0.3s;
  }

  .admin__menu.active {
    left: 0;
  }

  .admin__navigation,
  .admin__menu-list {
    width: 100%;
  }
  .admin__menu-list {
    flex-direction: column;
    margin: 30px 0;
  }

  .admin__menu-list .admin__menu-item a {
    color: #fff;
  }

  .admin__menu-list .admin__menu-item a.active {
    color: var(--primary-color);
  }

  .mobile__menu {
    display: block;
  }

  .admin__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .admin__details span i {
    cursor: pointer;
    font-size: 1.4rem;
    color: rgb(236, 41, 41);
  }
}

@media only screen and (max-width: 550px) {
  .admin__details .col-sm-2 {
    text-align: end;
  }
  .admin__nav-top-right {
    justify-content: space-between;
  }
  .admin__nav-top-right span {
    display: none;
  }

  .admin__menu-list {
    gap: 1rem;
  }
}
